:root{
    --one: #1B262C;
    --two: #ffffff;
    --three: #34C8EC;
	--four: #1F22F5;
	--five: #EDEEFA;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--one);
    overflow-x: hidden;
}

/*NAVBAR*/
.navb{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    align-content: center;
    transition: 0.4s;
}

.navb a{
    color: var(--five);
    float: right;
	font-size: 1.3vw;
    font-family: 'Catamaran', sans-serif;
    padding: 1.5vw 2vw;
	text-decoration: none;
    position: relative;
    z-index: 9999;
}

.navb a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--three);
    height: 2px;
    transition: all 0.6s;
}

.navb a:hover{
    color: var(--three);
	transition:0.6s;
	background-color:rgba(0,0,0,0.8);
}

.navb a:hover::after {
    width: 100%;
}

/* HOME */
.home {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.home::before{
    position: absolute;
    background-image: url("images/pyrologo.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.home .img{
    height: 400px;
    width: 300px;
    margin-top: 5%;
    z-index: 3;
}

.home h1{
    font-size: 10vw;
    font-family: 'Catamaran', sans-serif;
    color: var(--two);
    text-align: center;
    padding-top: 20%;
    text-shadow: 2px 2px 3px var(--three);
}

/*TYPE WRITER*/

.typewriter {
	height:10vw;
}

.typewriter h1 {
    overflow: hidden; 
    border-right: 0.15em solid #fff; 
    white-space: nowrap; 
	padding-top:20%;
    margin: 0; 
    letter-spacing: 0.15em; 
    animation: 
      typing 5s steps(40, end),
      blinker 0.75s step-end infinite;
  }

/*ABOUT*/
.abt{
    width: 100%;
	padding-bottom: 70px;
	padding-top: 70px;
	text-align:center;
}

.abt h1{
	text-align:center;
	font-size:10vh;
	color:var(--two);
	padding:2vh;
	padding-bottom:0;
	font-family: 'Poiret One', cursive;
}

.abt h2{
    text-align:center;
	font-size:50px;
	color:var(--one);
	margin-top:1vh;
	padding-top:1vh;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Poiret One', cursive;
	margin-bottom:3vw;
}

.abt h2:hover {
	font-weight:4vw;
	transition:0.3s;
}

.abt p{
    text-align:left;
	font-size:3vh;
	color:var(--one);
	padding-left:5vh;
	padding-right:4vh;
	font-family: 'Catamaran', sans-serif;
	margin-bottom:3.5vw;
	padding-bottom:3.5vh;
}


.abt .icon-large{
    font-size: 8vw;
	width:50%;
    color: var(--three);
	text-align:center;
}

.abt .bg {
	padding:1vw;
	border-radius:5px;
	background-color:var(--two);
}


/*ANIMATIONS*/
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blinker {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
  }