:root{
    --one: #000000;
    --two: #ffffff;
    --three: #d6ae29;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--one);
    overflow-x: hidden;
}

/* HOME */
.home {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.home::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/bruh.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.home .img{
    height: 500px;
    width: 400px;
    margin-top: 8%;
}

.home h1{
    font-size: 8vw;
    font-family: 'Poiret One', cursive;
    color: var(--one);
    text-align: center;
    padding-top: 1%;
    text-shadow: 2px 2px 3px var(--two);
}

/*TYPE WRITER*/
.typewriter h1 {
    overflow: hidden; 
    border-right: 0.15em solid #fff; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.15em; 
    animation: 
      typing 5s steps(40, end),
      blinker 0.75s step-end infinite;
  }

/*NAVBAR*/
.navb{
    background-color: transparent;
    width: 100%;
    position: fixed;
    padding: 10px 50px;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    align-content: center;
}

.navb{
	padding-left: 400px;
}

.navb a{
    display: block;
    color: #fff;
    float: left;
	font-size: 25px;
    font-family: 'Raleway', sans-serif;
    padding: 5px 30px;
	text-decoration: none;
    position: relative;
    transition: 0.4s;
}

.navb a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--three);
    height: 2px;
    transition: all 0.6s;
}

.navb a:hover{
    color: var(--three);
}

.navb a:hover::after {
    width: 100%;
}

/*ANIMATIONS*/
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blinker {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
  }